*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(45, 132, 132);
    display: flex;
    gap: 1.5rem;
    padding: 15px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
} 

nav > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}
@media(min-width:320px) and (max-width:500px){
    nav{
        width: calc(100% - 10px);
        margin: 0;
    }

    nav > a{
        font-size: 0.4rem;
        display: none;
       }

}

header{
    max-width: 1200px;
    margin: auto;
   
    }

    .ezCon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
        padding-top: 6rem;
     padding-bottom: 3rem; 
    }

    .ezCon > img{
        width: 400px;
    }
    
    .under{
    display: flex;
    gap: 10px;

}

.under > img{
    width: 50px;
}

.txt{
    line-height: 2rem;

   }


   .txt> h4{
    color: rgb(225, 126, 4);
    font-size: 19px;
}



.socialBox{
   line-height: 2rem;
   }

.socialBox > p {
    text-transform: capitalize;
   
}
   .socialBox > span{
    display: flex;
    justify-content: end;
    gap: 0.5rem;
   }

.socialBox > span > a > img{
    width: 25px;
   }

   @media(min-width:320px) and (max-width:500px){

    .ezCon{
        width:calc(100% -10px);
        margin: 0;
          padding-top: 4rem;
     padding-bottom: 2rem; 
    }

    .ezCon > img{
         width: 150px; 

    }

    .under{
        display: flex;
    }

    .under > img{
       /* display: none; */
       width: 7px;

    }

    .txt{
        line-height: 1rem;
    }

    .txt> p{
        font-size: 0.5rem;
    }

    .txt > h4{
        font-size: 0.5rem;
    }

    .socialBox{
        line-height: 1rem;
    }

    .socialBox > p{
        font-size: 0.5rem;
    }

       .socialBox > span{
        display: flex;
        gap: 0.2rem;
       }

       .socialBox > span > a > img{
        width: 15px;
       }

}


.imgbox{
    height: 35vh;
    background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/Sb7uiLMltks8nrrky/videoblocks-v1-0028_20230315-sf-shirokov-business-lifestyle-1-studio-crossmedia00000000_r5ompqeun_thumbnail-1080_10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgboo{
    text-align: center;
}

.imgboo>h2{
    color: rgb(225, 126, 4);
    font-size: 4rem;
    text-transform: capitalize;
}

@media(min-width:320px) and (max-width:500px){
    .imgbox{
        width: calc(100%);
    }

    .imgboo>h2{
        font-size: 2rem;
    }

}



.genLayout{
    max-width: 1020px;
    margin: auto;
}

.parabox{
    background-color: #f8f8f8;
    padding: 4rem 0rem;
    }
    .paragraph{
        text-align: left;
        color: #555;
        font-size: 1rem;
        font-weight: 600;
    }

    @media(min-width:320px) and (max-width:500px){
        .parabox{
            width: calc(100% - 10px);
            padding: 2rem 0rem;
        }

        .paragraph{
            font-size: 0.7rem;
            text-align: left;
        }
    }



     .card-section{
        background-color: #f8f8f8;
        

       
    }
    .contact-card{
        /* height: 250px; */
        /* width: 1200px; */
        display: flex;
        gap: 50px;
        background-color:#f8f8f8;

    }

     .card{
        background-color: #fff;
        padding: 2rem 1.5rem;
        box-shadow: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        width: 650px;
        height: 250px;
        transition: transform 0.3s ease;
    }
    .card:hover{
        transform: scale(1.05);
    }
    .icon-circle{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background-color: #f8f8f8;
        border: 2px solid #ffb95c;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 1rem;
    } 

    .icon{
        font-size: 1.5rem;
        color:#ffb95c;
        line-height: 2rem;
    }

    .card>h3{
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
        color: #333;
        line-height: 2rem;
    }
    .card>p{
        color: #666;
        font-size: 0.95rem;
        text-decoration: none;
    }  

     @media(min-width:320px) and (max-width:500px){
    .card-section{
        width: calc(100% - 10px);
    }

    .contact-card{
        gap: 20px;
        flex-direction: column;
    }

    .card{
        width: 250px;
        height: 150px;

    }

     }


 
    .box{
    
        background-color: #f8f8f8;
    }


.txtBox > h2{
    font-size: 2rem;
    color: #f09e29;
    padding-top: 6rem;

}

.formCont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2rem;

}

.formCon{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}
.formCon>input{
    height: 50px;
    width: 500px;
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid #f09e29;
    font-weight: 600;
    padding-left: 1rem;
}

.boxArea>textarea{
    height: 150px;
    width: 1020px;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px solid #f09e29;
    padding-top: 1rem;
    font-weight: 600;
}

.formBox{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 1rem;

}

.formBox > p{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
}

.formBox>input{
    border: 1px solid #f09e29;
    height: 50px;
    width: 45px;
   margin-left: -1rem;
}
.formBox>button{
    border: 1px solid #f09e29;
    background-color: #f09e29;
    padding: 1rem 4rem;
    border-radius: 5px;
    font-size: 15px ;
    font-weight: 600;
}

@media(min-width:320px) and (max-width:500px){
    .box{
        width: calc(100% - 10px);
        margin: 0;
    }

    .txtBox > h2{
        font-size: 1.5rem;
    }

    .formCon>input{
        width: 160px;
        font-size: 10px;
    }
    .boxArea{
        width: calc(100% - 10px);
    }

    .boxArea>textarea{
        width: 350px;
        height: 100px;
        font-size: 10px;
    }
    .formBox{
        width: calc(100% - 20px);
    }

    .formBox > p{
        font-size: 10px;
    }

    .formBox>input{
        width: 30px;
        height: 30px;
    }

    .formBox>button{
        padding: 0.5rem 2rem;
        font-size: 10px;
        color: black;
    }
}




